@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --black: #333;
    --white: #fff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --black: #fff;
        --white: #333;
    }
}
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 4;
}
.navigation li {
    list-style: none;
}
.navigation li a {
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
    transition: .2s;
}
.navigation li a:hover {
    background: var(--black);
    color: var(--white);
}